body {
  background: #4581b0;
  color: #ddd; 
  font-family: Didot, Serif; 
  max-width: 800px;
  margin: auto;
  padding: 1em;
}

h1 {
  color: #00ffff;
}

a {
  color: #00ffff;
}

footer {
  margin-top: 2em;
  font-size: 0.8em;
  color: #888;
}
